<%= form_with(model: wadget, local: true) do |form| %>
  <% if wadget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wadget.errors.count, "error") %> prohibited this wadget from being saved:</h2>

      <ul>
        <% wadget.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
